.select {
  width: 100%;

  svg {
    fill: $brown-grey;
  }

  span {
    @include text(
      $greyish-brown,
      'Raleway-Medium',
      mobile(16px),
      normal,
      normal
    );
  }

  > div:after,
  > div:before {
    border-bottom: 1px solid $grey !important;
  }

  > div:hover:before {
    border-bottom: 1px solid $dark-sky-blue !important;
  }

  > div:hover:after {
    border-bottom: 1px solid $dark-sky-blue !important;
  }

  label {
    @include text($brown-grey, 'Raleway', mobile(16px), normal, normal);
    color: $brown-grey !important;
  }

  p {
    @include text($pastel-red, 'Raleway-Regular', mobile(12px), 1.5, normal);
  }

  &__selectRoot {
    padding-bottom: 5px 0 !important;
  }

  &__menuContainer {
    background-color: $white !important;
    padding: mobile(5px) mobile(15px) !important;
    span {
      @include text(
        $greyish-brown,
        'Raleway-Medium',
        mobile(16px),
        normal,
        normal
      );
    }

    &:hover {
      background-color: $brown-grey !important;
    }

    &:active {
      background-color: $brown-grey !important;
    }
  }
}
