.cropImage {
  &__fabeOut {
    padding: 0 0;
    grid-template-columns: 1fr;
  }
  &__cropContainer {
    border-radius: 0;
    width: 100%;
    height: 100vh;
    max-height: 591px;
    min-height: 300px;
    grid-column: 1;
    &__widthButton {
      width: 100% !important;
      max-width: 100% !important;
      padding: 0 mobile(15px);
    }
  }
}
