$white: white;
$blue: #1d79be;
$black-text: #33393d;
$bluish: #1d79be;
$greyish-brown: #4a4a4a;
$dark-sky-blue: #5ca9d5;
$brown-grey: #a9a9a9;
$pastel-red: #ea5f51;
$color-validate-pass: #2aa746;
$grey: #d6d6d6;
