// Icomoon font styles
@font-face {
  font-family: 'icomoon';
  src:  url('../../public/assets/icomoon/fonts/icomoon.eot?a4sdh9');
  src:  url('../../public/assets/icomoon/fonts/icomoon.eot?a4sdh9#iefix') format('embedded-opentype'),
    url('../../public/assets/icomoon/fonts/icomoon.ttf?a4sdh9') format('truetype'),
    url('../../public/assets/icomoon/fonts/icomoon.woff?a4sdh9') format('woff'),
    url('../../public/assets/icomoon/fonts/icomoon.svg?a4sdh9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Cambria Fonts
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('../fonts/Raleway/Raleway-BlackItalic.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('../fonts/Raleway/Raleway-BoldItalic.ttf');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('../fonts/Raleway/Raleway-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../fonts/Raleway/Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url('../fonts/Raleway/Raleway-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Raleway-Italic';
  src: url('../fonts/Raleway/Raleway-Italic.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-LightItalic';
  src: url('../fonts/Raleway/Raleway-LightItalic.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('../fonts/Raleway/Raleway-MediumItalic.ttf');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url('../fonts/Raleway/Raleway-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('../fonts/Raleway/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url('../fonts/Raleway/Raleway-ThinItalic.ttf');
}
