.BaseInput {
  &__phoneCode {
    @include text(
      $greyish-brown,
      'Raleway-Medium',
      desktop(16px),
      normal,
      normal
    );
    font-size: desktop(16px) !important;
  }

  &__root {
    button {
      padding: 0 !important;
    }

    span {
      :before {
        color: $brown-grey;
        font-size: desktop(20px);
      }
    }

    p {
      @include text($pastel-red, 'Raleway-Regular', desktop(12px), 1.5, normal);
      color: $pastel-red !important;
      font-size: desktop(12px) !important;
    }

    > div:hover:before {
      border-bottom: 1px solid $dark-sky-blue !important;
    }

    > div:hover:after {
      border-bottom: 1px solid $dark-sky-blue !important;
    }
    > div {
      margin-top: 18px !important;
    }
    > div:after,
    > div:before {
      border-bottom: 1px solid $grey !important;
    }

    input {
      @include text(
        $greyish-brown,
        'Raleway-Medium',
        desktop(16px),
        normal,
        normal
      );
      font-size: desktop(16px) !important;
      padding: 5px 0 !important;
    }

    label {
      @include text($brown-grey, 'Raleway', desktop(16px), normal, normal);
      color: $brown-grey !important;
    }
  }

  &__verifyCode {
    p.Mui-error {
      @include text($pastel-red, 'Raleway', desktop(12px), 1.5, normal);
    }

    > div:hover:before {
      border-bottom: 1px solid $dark-sky-blue !important;
    }

    > div:hover:after {
      border-bottom: 1px solid $dark-sky-blue !important;
    }

    > div:after,
    > div:before {
      border-bottom: 1px solid $grey !important;
    }

    input {
      @include text($greyish-brown, 'Raleway', desktop(20px), normal, normal);
      text-align: center !important;
    }

    label {
      @include text($brown-grey, 'Raleway', desktop(16px), normal, normal);
      color: $brown-grey !important;
    }
  }
}
