.BaseInput {
  &__phoneCode {
    @include text(
      $greyish-brown,
      'Raleway-Medium',
      mobile(16px),
      normal,
      normal
    );
    font-size: mobile(16px) !important;
  }

  &__iconShow {
    font-size: mobile(30px);
    cursor: pointer;
    color: $brown-grey;
  }

  &__root {
    span {
      :before {
        color: $brown-grey;
        font-size: mobile(20px);
      }
    }
    p {
      @include text($pastel-red, 'Raleway-Regular', mobile(12px), 1.5, normal);
      color: $pastel-red !important;
      font-size: mobile(12px) !important;
    }
    > div {
      margin-top: 16px !important;
    }

    input {
      @include text(
        $greyish-brown,
        'Raleway-Medium',
        mobile(16px),
        normal,
        normal
      );
      font-size: mobile(16px) !important;
      padding: 5px 0 !important;
    }

    label {
      @include text($brown-grey, 'Raleway', mobile(16px), normal, normal);
      color: $brown-grey !important;
      font-size: mobile(16px) !important;
    }
  }
}
