.changePassword {
  width: desktop(540px);
  &__title {
    @include text($black-text, 'Raleway-Bold', desktop(23px), 1.86, normal);
    color: #1d79be;
    padding-bottom: desktop(10px);
  }
  &__subTitle {
    @include text($black-text, 'Raleway-Regular', desktop(16px), 1.86, normal);
    color: #4a4a4a;
    display: inline-block;
    margin-bottom: desktop(30px);
  }
  &__inputWidth {
    width: 100%;
    margin-bottom: desktop(30px);
  }
  &__buttonContainer {
    margin-bottom: desktop(15px);
  }
  &__changePass {
    color: #4a4a4a;
    font-size: desktop(14px);
    span {
      @include text($black-text, 'Raleway-Medium', desktop(16px), 1.86, normal);
    }
    a {
      @include text($black-text, 'Raleway-Medium', desktop(16px), 1.86, normal);
      color: #1d79be;
    }
  }
  &__validatePassword {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    @include text(
      $greyish-brown,
      'Raleway-Medium',
      desktop(12px),
      normal,
      normal
    );
    font-weight: 500;

    span {
      margin-right: desktop(10px);
    }
  }
  &__stepPasswordValid {
    @include text(
      $color-validate-pass,
      'Raleway-Medium',
      desktop(12px),
      normal,
      normal
    );
    font-weight: 500;
  }
}
