.changePassword {
  width: 90vw;
  &__title {
    @include text($black-text, 'Raleway-Bold', mobile(23px), 1.86, normal);
    color: #1d79be;
    padding-bottom: mobile(10px);
  }
  &__subTitle {
    @include text($black-text, 'Raleway-Regular', mobile(16px), 1.86, normal);
    color: #4a4a4a;
    display: inline-block;
    margin-bottom: mobile(30px);
  }
  &__inputWidth {
    width: 100%;
    margin-bottom: mobile(30px);
  }
  &__buttonContainer {
    margin-bottom: mobile(15px);
  }
  &__changePass {
    @include text($black-text, 'Raleway-Medium', mobile(16px), 1.86, normal);
    color: #4a4a4a;
    font-size: mobile(14px);
    a {
      @include text($black-text, 'Raleway-Medium', mobile(16px), 1.86, normal);
      color: #1d79be;
    }
  }
  &__validatePassword {
    display: flex;
    flex-direction: row;
    @include text(
      $greyish-brown,
      'Raleway-Medium',
      mobile(12px),
      normal,
      normal
    );
    font-weight: 500;

    span {
      margin-right: mobile(10px);
    }
  }
  &__stepPasswordValid {
    @include text(
      $color-validate-pass,
      'Raleway-Medium',
      mobile(12px),
      normal,
      normal
    );
    font-weight: 500;
  }
}
