.MuiInputRootGrey {
  background: none !important;
  border: none !important;
  padding-right: desktop(10px);
  padding-left: desktop(10px);
  text-decoration: none;
  > div {
    color: #6d7278 !important;
    font-family: 'Raleway-Regular' !important;
    @include text(#6d7278, 'Raleway-Regular', desktop(12px), 1.5, normal);
  }
  :focus {
    background: none !important;
  }
  svg {
    right: 10px;
    fill: #6d7278;
  }
  &::before {
    content: '';
    border: none !important;
  }
  &::after {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
  &:hover {
    border: none !important;
    &::before {
      border: none !important;
    }
  }
  &:focus {
    background: none !important;
  }
  .MuiPaper-root {
    background: black !important;
  }
}
.MuiInput-underline:before {
  border: none !important;
}

.MuiInputRoot {
  background: none !important;
  border: none !important;
  padding-right: desktop(10px);
  padding-left: desktop(10px);
  text-decoration: none;
  > div {
    color: $bluish !important;
    font-family: 'Raleway-Regular' !important;
    @include text($bluish, 'Raleway-Regular', desktop(12px), 1.5, normal);
  }
  :focus {
    background: none !important;
  }
  svg {
    right: 10px;
    fill: $bluish;
  }
  &::before {
    content: '';
    border: none !important;
  }
  &::after {
    border: none !important;
  }
  &:active {
    border: none !important;
  }
  &:hover {
    border: none !important;
    &::before {
      border: none !important;
    }
  }
  &:focus {
    background: none !important;
  }
  .MuiPaper-root {
    background: black !important;
  }
}
.MuiInput-underline:before {
  border: none !important;
}
